---

- name: Gather package facts
  ansible.builtin.package_facts:

- name: Test installed dependencies
  loop: "{{ debian_dependencies }}"
  when: ansible_facts.os_family == "Debian"
  ansible.builtin.assert:
    that:
      - item in ansible_facts.packages
    fail_msg: "Required package '{{ item }}' is missing."
    quiet: true

- name: Test installed VSCode
  ansible.builtin.assert:
    that:
      - "'code' in ansible_facts.packages"
    fail_msg: "VSCode' is not installed."
    quiet: true

...
